.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr [login] 2fr 1fr;

  .login {
    height: 100vh;
    grid-column-start: login;
    display: flex;
    align-items: flex-end;

    .wrapper {
      align-self: center;
      width: 100%;
      text-align: center;

      h1 {
        margin-bottom: 30px;
      }
    }

    .container {
      border: rgba(204, 204, 204, 0.712) solid 1px;
      border-radius: 10px;
      padding: 20px;
      display: grid;
    }

    p {
      text-align: center;
      margin: 10px 0;
    }

    .btn {
      width: 100%;
      display: block;
    }
  }
}
.dashboard {
  .blockie {
    border-radius: 10%;
  }
  .btn {
    margin-top: 20px;
  }
}

body {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr [login] 10fr 1fr;
  }
}
